<Resource name="jdbc/ScormEngineDB" auth="Container"
  type="javax.sql.DataSource" 
  description="MySQL database for ScormEngine" 
  username= "@@db.username@@" 
  password= "@@db.password@@"
  driverClassName="com.mysql.jdbc.Driver" 
  url="@@db.url@@"
  maxActive="30"
  maxIdle="0" 
  maxWait="10000"
  validationQuery="Select 1"
  testOnBorrow="true" 
  testWhileIdle="true" 
  timeBetweenEvictionRunsMillis="10000"
  maxEvictableIdleTimeMillis="60000"	
/>
